package components

templ FormWrapper(actionPath string) {
	<form hx-post={ actionPath } hx-swap="outerHTML">
		{ children... }
	</form>
}

templ FormInput(data InputData, inputFunc func(InputData) templ.Component) {
	<div class="flex flex-col mb-4">
		<label
			for={ data.Name }
			class="text-sm mb-2"
		>{ data.Label }</label>
		@inputFunc(data)
	</div>
}

templ FormButton(text string) {
	<div class="mt-8">
		@SubmitButton(text)
	</div>
}
