package templates

import "homecomp/pkg/configs"

templ login() {
	<div class="bg-sky-800">
		Guachiturren!!!
	</div>
}

func LoginPage(conf configs.Config) templ.Component {
	return EmptyLayout(
		login(),
		conf,
	)
}
